@{ 
    ViewBag.Title = "Error Code";
}

<h1>@ViewBag.ErrorMessage</h1>

<h1>@ViewBag.Path</h1>

<h1>@ViewBag.QS</h1>

<a asp-action="Index" asp-controller="Home">
    Click here to go back to the list of employees
</a>