@model int

@{ 
    ViewBag.Title = "Employee Not Found - 404";
}

<div class="alert alert-danger mt-1 mb-1">
    <h4>404 Not found error : </h4>
    <hr />
    <h5>Employee with Id = @Model  cannot be found</h5>
</div>
<a asp-controller="Home" asp-action="Index" class="btn btn-outline-success" style="width:auto">
    Click here to view all Employees list
</a>